{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock %}


{% block content %}
<form hx-post="/user/{{user.id}}/edit" hx-target="this" hx-swap="outerHTML">
    {% csrf_token %}
    <div>
        <label>ID - </label>
        {{ user.id }}
        <input name="id" type="number" value="{{ user.id }}" hidden />
    </div>
  <div>
    <label>Username - </label>
    <input type="text" name="username" value="{{ user.username }}">
  </div>
  <div>
    <label>Email Address - </label>
    <input type="email" name="email" value="{{ user.email }}">
  </div>
  <button>Submit</button>
  <button hx-get="/">Cancel</button>
</form>
{% endblock %}

